{% extends 'dashboard/dashboard_base.html' %}

{% block title %}
Manage Users
{% endblock %}

{% block dashboard_content %}
<div class="flex justify-between items-center mb-8">
    <h1 class="text-3xl font-bold text-red-600">
        Manage Users
    </h1>
</div>

<div class="bg-white shadow-lg rounded-xl overflow-hidden">
    <div class="overflow-x-auto">
        <table class="w-full">
            <thead class="bg-red-600 text-white">
                <tr>
                    <th class="py-4 px-6 text-left">User ID</th>
                    <th class="text-left">Full Name</th>
                    <th class="text-left">Username</th>
                    <th class="text-left">Email Address</th>
                    <th class="text-left">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="border-b hover:bg-gray-50 text-gray-800">
                    <td class="py-4 px-6 font-semibold">#{{ user.id }}</td>
                    <td class="px-6 font-semibold">{{ user.name }}</td>
                    <td class="px-6">@{{ user.username }}</td>
                    <td class="px-6">{{ user.email }}</td>
                    <td class="px-6">{{ user.phone }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="py-10 text-center text-gray-500">
                        No Users Registered
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
